*{
    margin: 0%;
    padding: 0%;
    background-color:	#f7f7f7;
}
.textbox{

    margin: 300px;
    margin-left: 140px;
}
h1{
    font-size: 55px;
    color: #1877f2;
    font-family: 'Roboto', sans-serif;
}
h2{
   font-family: Helvestica,Arial,sans-serif;
    font-size: 28px;
    font-weight: normal;
    line-height: 32px;
    width: 500px
}
.contener{
    background-color:#ffffff;
    width: 390px;
    height: 380px;  
    margin-top: -520px; 
    margin-right: 160px;
    float: right;
    border-radius:7px;
    text-align: center;
    
    
 } 
.from{
        float: right;
        margin-right: 240px;
        margin-top: 20px;
        width: 100px;
        padding: 20px;
        background-color:#ffffff;
       
}

.from input{
    padding: 15px;
    width: 300px;
    margin: 2px 0px 2px 0px;
    border-radius: 7px;
    background-color: #fff;
    border-width: 1px;

}
button{
    padding: 15px;
    width: 331px;
    margin: 2px 0px 2px 0px;
    border-radius: 7px;
    background-color:#1877f2;
    border-width: 0px;
    font-size: 18px; 
    color:#ffffff;  
}
.btn{
    background-color:#5bac38;
    color:#ffffff; 
    width: 200px;
    margin:50px 60px;
}
